# Visual Studio 编译产物
obj/
Debug/
Release/
x64/
x86/
ipch/
*.aps

# 链接产物
*.exe
*.pdb
*.ilk
*.iobj
*.ipdb
*.exp
*.lib
*.dll

# VS 本机用户配置（不应入库）
*.user
*.suo
.vs/
*.opendb
*.db

# 日志与中间文件
*.tlog
*.log
*.recipe
*.res
*.obj

# WorkBuddy 工作区数据（可选择性上传）
# 如需上传 .workbuddy 请删除下面这行
# .workbuddy/
